@import 'base/colors.scss';



.session-form-page {
  display: flex;
  justify-content: center;

}

//login/signup form
.session-form {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 40px;
  top: 20%;
}

.errors {
  color: red;
  font-size: 12px;
  max-width: 305px;
  margin-bottom: 10px;
}

.form-title {
  font-size: 50px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: $gold;
  font-weight: bolder;
}

.form-subtitle {
  font-size: 20px;
  text-transform: uppercase;
  color: $gold;
  position: relative;
  bottom: 10px;
  padding-bottom: 10px;
}

input{
  margin: 10px;
  margin-top: 0;
  border: 1px solid $grey;
  border-radius: 4px;
  padding: 6px 8px 6px 36px;
}
button {
  display: flex;
  margin: 10px 0;
  background: $gold;
  color: white;
  border: none;
  padding: 12px;
  font-size: 18px;
  text-transform: capitalize;;
  font-weight: bold;
  width: 300px;
  border-radius: 4px;
  justify-content: center;

}

button:hover {
  cursor: pointer;
  background-color: $darkgold;

}
.input-box {
  display: flex;
  position: relative;
}

.user-icon {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: $grey;
  border-right: 1px solid $grey;
  padding-right: 3px;
}
.lock-icon {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: $grey;
  border-right: 1px solid $grey;
  padding-right: 3px;
}
