@import 'base/colors.scss';


.drink-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  right: 33.33%;
  width: 33.33%;
  min-width: 400px;
  border: 1px solid black;
  padding: 30px 40px;;
  background-color: white;
  box-shadow: 5px 5px 15px #888888;

}
.drink-form h3 {
  display: flex;
  padding: 5px 5px 0 0;
  margin: 0;
  width: 100%;
  color: $grey;
}

.drink-form-img {
  max-height: 150px;
  max-width: 100%;
  width: auto;
  height: auto;
}

.drink-form-title {
  font-size: 30px;
  font-weight: bolder;
  padding-bottom: 20px;
  text-transform: capitalize;
}

.drink-form input {
  width: 100%;
  padding: 8px 8px 8px 8px;
}
.drink-form button {
  width: 50%;
}

textarea {
  border: 1px solid $grey;
  border-radius: 3px;
  width: 100%;
  max-width: 100%;
  min-height: 77px;
  margin: 0;
  margin: 10px;
  margin-top: 0;
  padding: 8px;
  resize: none;
}
