@import 'base/colors.scss';
body{
  background-color: $background;
}
.create-text {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.create-link{
  padding-left: 10px;
  color: $lightbrown;
  font-weight: bold;
}
.edit-link{
  display: flex;
  position: absolute;
  right: 20px;
  top: 90px;
  color: $lightbrown;
  font-weight: bold;
}

.create-link:hover{
  color: $darkgold;
}
.edit-link:hover{
  color: $darkgold;
}

.drink-index {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 90px auto;
}
.drink-index-item {
  display: flex;
  position: relative;
  border: 1px solid $grey;
  margin: 10px;
  padding: 0;
  background-color: white;
  box-shadow: 5px 5px 15px #888888;

}

.drink-icon {
  position: absolute;
  height: 75px;
  width: 75px;
  left: 15px;
  top: 15px;
}

.drink-name {
  font-size: 30px;
  position: absolute;
  left: 110px;
  top: 15px;
}
.brewery{
  position: absolute;
  left: 110px;
  top: 70px;
}

.check-in {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 100px;
  height: 20px;

}

.beer-details {
  display: flex;
  margin-top: 130px;
  width: 100%;
}

.detail {
  display: flex;
  padding: 3px 0;
  font-size: 14px;
  margin: 0;
  color: $grey;
  border-top: 1px solid $grey;
  border-left: 1px solid $grey;
  align-items: center;
  justify-content: center;
}
.checkins {
  // width: 20%;
  flex-grow: 3;
}
.abv {
  // width: 10%;
  flex-grow: 1;
  border-left: none;
}
.rating {
  flex-grow: 5;
  // width: 50%;
}
.date {
  // width: 20%;
  flex-grow: 1;
}
