@import 'base/colors.scss';

.drink-page {
  margin: 100px auto;
  width: 600px;
}

.drink-description {
  font-size: 16px;
  font-weight: normal;
  background-color: white;
  padding: 15px;
  margin: 20px 10px;
  box-shadow: 5px 5px 15px #888888;

}

.feed-item {
  display: flex;
  position: relative;
  border: 1px solid $grey;
  margin: 10px;
  padding: 0;
  background-color: white;
  box-shadow: 5px 5px 15px #888888;
  height: 150px;
  justify-content: center;
  align-items: center;
}
