@import 'base/colors.scss';

.checkin-page {
  margin: 100px auto;
  width: 600px;
}
.stars {
  color: $gold;
}

.rate-value {
  justify-content: center;
}

.checkin-page .drink-form {
  margin: 40px auto;
}

.checkin-page .drink-name:hover{
  color: black;
}
