@import 'base/colors.scss';

.checkin-index-item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  background-color: white;
}
.checkin-icon {
  position: absolute;
  max-height: 100px;
  max-width: 75px;
  min-height: 75px;

  width: auto;
  height: auto;
  left: 485px;
  top: 15px;
}
.checkin-comment {
  border: 1px solid $grey;
  border-radius: 5px;
  max-width: 430px;
  padding: 10px;

}

.checkin-feed {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 100px auto;
  border: 1px solid $grey;
}

.drink-page .checkin-feed {
  margin-top: 50px;
}

.checkin-index-item h2 {
  font-size: 15px;
  font-weight: normal;
  max-width: 450px;

}
.checkin-index-item h3 {
  font-size: 15px;
  font-weight: lighter;
}

.checkin-index-item h4{
  font-size: 12px;
  font-weight: lighter;
  color: $grey;
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid $grey;
}

.checkin-text {
  display: flex;
  justify-content: center;
  background-color: white;
  padding-top: 20px;
  font-size: 30px;
  color: $darkgold;
}
