@import 'base/colors.scss';

.checkin-page {
  margin: 100px auto;
  width: 600px;
}
.stars {
  color: $gold;
}

.stars:hover {
  color: $darkgold;
}

.rate-value {
  justify-content: center;
}

.checkin-page .drink-form {
  margin: 40px auto;
}
