@import 'base/colors.scss';

.checkin-index-item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  background-color: white;
}
.checkin-icon {
  position: absolute;
  max-height: 100px;
  max-width: 75px;
  min-height: 75px;

  width: auto;
  height: auto;
  left: 485px;
  top: 15px;
}
.checkin-image {
  max-height: 300px;
  max-width: 560px;
  min-height: 75px;

  width: auto;
  height: auto;
  margin: 10px auto;
}
.checkin-comment {
  border: 1px solid $grey;
  border-radius: 5px;
  max-width: 430px;
  padding: 10px;

}

.checkin-feed {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 600px;
  margin: 100px auto;
  border: 1px solid $grey;
}

.drink-page .checkin-feed {
  margin-top: 50px;
}

.checkin-index-item h2 {
  font-size: 18px;
  font-weight: normal;
  max-width: 450px;
  margin-bottom: 10px;
}
.checkin-index-item h3 {
  font-size: 15px;
  font-weight: lighter;
  margin: 0 0 10px 0;
}

.checkin-index-item h4{
  font-size: 12px;
  font-weight: lighter;
  color: $grey;
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid $grey;
}

.checkin-text {
  display: flex;
  padding-top: 20px;
  font-size: 30px;
  color: black;
  border-bottom: 1px solid $grey;
  margin: 0 20px;
}

.checkin-link {
  color: $lightbrown;
  text-transform: capitalize;
}
.checkin-link:hover {
  color: $darkgold;
}
