@import 'base/colors.scss';

//logged out home
.index {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;;
  width: 100%;
  min-height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), image-url("bottles.jpg") top left no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  background-size: cover;
}

//bottle
.icon {
  background: transparent image-url("bottle_logo.png") top left no-repeat;
  display: flex;
  position: absolute;
  min-width: 100px;
  min-height: 120px;
  background-size: contain;
  left: -70px;
  -webkit-filter: invert(1);
   filter: invert(1);
}

//unbottld
.page-title {
  font-weight: normal;
  font-size: 100px;
  position: relative;;
  margin: 0 70px;
  padding: 0;
  color: white;

}

//find your favorite bottle
.description {
  font-weight: normal;
  font-size: 40px;
  position: relative;;
  margin: 0 10%;
  padding: 0;
  color: $brown;
  padding: 10px;
  // text-shadow: 1px 0 0 grey, 0 -1px 0 grey, 0 1px 0 grey, -1px 0 0 grey;

}


//login/sign up buttons
.index-link {
  font-weight: bolder;
  font-variant: small-caps;;
  font-size: 25px;
  text-decoration: none;
  padding: 0 10px 5px 10px;
  margin: 0 5px;
  border: 3px solid white;
  color: white;
  opacity: 1;
}

.index-link:hover {
  background-color: white;
  color: black;
}

//holds login/signup buttons
.link-container {
  display: flex;
  margin: 0 auto;
  position: fixed;
  top: 1em;
  right: 1em;

}
