@import "base/colors.scss";

.user-profile {
  margin: 100px;
}

.profile-top {
  background-color: white;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.user-stats {
  display: inline-flex;
  font-weight: normal;
  font-size: 20px;
  background-color: $gold;
  width: 100px;
  margin: 0;

}
