body {
  font-family: 'Montserrat', sans-serif;
}

//logged out home
.index {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;;
  width: 100%;
  min-height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), image-url("bottles.jpg") top left no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  background-size: cover;
}

//bottle
.icon {
  background: transparent image-url("bottle_logo.png") top left no-repeat;
  display: flex;
  position: absolute;
  min-width: 100px;
  min-height: 120px;
  background-size: contain;
  left: -70px;
}

//unbottld
.page-title {
  font-weight: normal;
  font-size: 100px;
  position: relative;;
  margin: 0 70px;
  padding: 0;
  color: white;

}

//find your favorite bottle
.description {
  font-weight: normal;
  font-size: 40px;
  position: relative;;
  margin: 0 10%;
  padding: 0;
  color: #4A2B03;
  padding: 10px;
  // text-shadow: 1px 0 0 grey, 0 -1px 0 grey, 0 1px 0 grey, -1px 0 0 grey;

}


//login/sign up buttons
.index-link {
  font-weight: bolder;
  font-variant: small-caps;;
  font-size: 25px;
  text-decoration: none;
  padding: 0 10px 5px 10px;
  margin: 0 5px;
  border: 3px solid white;
  color: white;
  opacity: 1;
}

.index-link:hover {
  background-color: white;
  color: black;
}

//holds login/signup buttons
.link-container {
  display: flex;
  margin: 0 auto;
  position: fixed;
  top: 1em;
  right: 1em;

}

.form-background{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 100%;
  min-height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) ), image-url("wall_of_bottles.jpg") top left no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  background-size: cover;
  z-index: -1;

}

.session-form-page{
  display: flex;
  justify-content: center;

}
.form-icon {
  position: static;
  background: transparent image-url("bottles_icon.png") top left no-repeat;
  min-width: 100px;
  min-height: 75px;
  background-size: contain;

}
//login/signup form
.session-form {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 300px;
  height: 375px;
  padding: 0px;
  top: 20%;

}

.errors {
  color: red;
  position: fixed;
  font-size: 15px;
  background-color: black;
  padding: 10px;
}

.form-title {
  font-size: 50px;
  margin: 0 0 50px 0;
  padding: 0;
  text-transform: uppercase;
}

input{
  margin: 10px;
  margin-top: 0;
}
button {
  margin: 10px;
  background: gold;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

button:hover{
  cursor: pointer;
  color: white;
  text-shadow: 1px 0 0 grey, 0 -1px 0 grey, 0 1px 0 grey, -1px 0 0 grey;

}


//nav bar
.nav-bar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-around;
  background: gold;
  width: 100%;
  padding: 0 0;
}
.nav-icon{
  left: 0;
  position: relative;
  min-height: 50px;
  min-width: 40px;
}

.nav-icon:hover {
  -webkit-filter: invert(1);
   filter: invert(1);

}

.left-nav {
  display: flex;
  padding-left: 20%;
}

.right-nav {
  display: flex;
  padding-right: 20%;
}

.nav-link {
  color: black;
  border: none;
  padding: 10px 0 0 0;
}
.left{
  padding-left: 0;
  margin-left: 0;
}
.nav-link:hover {
  color: white;
  background-color: gold;
  text-shadow: 1px 0 0 grey, 0 -1px 0 grey, 0 1px 0 grey, -1px 0 0 grey;
}
